

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.complete-timer {
  /* place-items: center; */
  width: 20em;
}

.circle-container {
  display: absolute;
  inset: 100%;
  place-items: center;
}
.time-inputs {
  display: flex;
  gap: 1em;
}
